body{
	margin:0;
	padding:20px;
  font-family: sans-serif;
  
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table {
  border:1px solid #ddd;
}
.table td,.table th{
  padding:12px 15px;
  font-size:16px;
}

.table th{
	background-color: #363636;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*dropdown*/

.dropbtn, .dropbtn2 {
      background-color: none;
      margin-left: 5px;
      color: #363636;
      padding: 14px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      border-radius: 100px;
    }

    .dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus {
      background-color: #363636;
      color: white;
    }

    .dropdown, dropdown2 {
      position: relative;
      display: inline-block;
    }

    .dropdown-content, .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: scroll;
      box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.12);
      z-index: 1;
      margin-left: 0px;
    }

    .dropdown-content a, .dropdown-content2 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover, .dropdown2 a:hover {
        background-color: #ddd;
    }

    .show {display: block;}

    .table tbody tr td:first-child{
      background-color: #e8e8e8;
    }

    .table tbody tr:nth-child(2) td:first-child {
      background: linear-gradient(#FFC85F 0%, #F7A829 100%);
    }
  
    .table tbody tr:nth-child(3) td:first-child{
      background: linear-gradient(#D6D6D6 0%, #9D9D9D 100%);
    }
  
    .table tbody tr:nth-child(4) td:first-child {
      background: linear-gradient(#E2A857 0%, #C4761C 100%);
    }

    .hidden-card {
      display: none;
    }

    .banner {
      background-image: url(assets/banner/Mask\ Group\ 6\ 2/Mask\ Group\ 7@2x.png);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .card-body {
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .no-margin {
      margin: 0px
    }
/*responsive*/
@media(max-width: 500px){
	.table thead{
		display: none;
	}

  .banner {
    background-image: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .table tbody tr td:first-child {
    background-color: #e8e8e8;
  }

  .table tbody tr:nth-child(2) td:first-child {
    background: linear-gradient(#FFC85F 0%, #F7A829 100%);
  }

  .table tbody tr:nth-child(3) td:first-child {
    background: linear-gradient(#D6D6D6 0%, #9D9D9D 100%);
  }

  .table tbody tr:nth-child(4) td:first-child {
    background: linear-gradient(#E2A857 0%, #C4761C 100%);
  }

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
    margin-bottom:15px;
    border-radius: 10px;
	}
  
    
    .table td:last-child{
		background: black;
        color: #fff;
	}
    
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}

  .table tr td:nth-child(3)::before{
		padding-top:9px;
  }  

  .table tr td:nth-child(4)::before{
		padding-top:9px;
  }  
  
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}  
    
/*dropdown for responsive*/  
    
    .dropbtn, .dropbtn2 {
      padding: 14px;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }


    .dropdown, dropdown2 {
      position: relative;
      display: inline-block;
    }

    .dropdown-content, .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a, .dropdown-content2 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover, .dropdown2 a:hover {background-color: #ddd;}

    .show {display: block;}

    .hidden-card {
      display: block;
      width: 100%;
      height: auto;
      /* background: url("assets/banner/Mask\ Group\ 5\ \(1\)/Mask\ Group\ 5@3x.png"); */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      padding: 0px;
    }

    .hidden-card img {
      max-width: 100%;
    }

    .card-body2 {
      padding: 0px;
    }


}

@media(min-width: 800px) {
  .banner {
    height: 300px;
    padding-top: 20px;
  }
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgb(44, 44, 180), rgba(0, 0, 1, 0.1)), url(assets/ezgif.com-gif-maker.png);

/* Set a specific height */
height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.image-icon {
  height: 200px;
  padding: 50px;
}

.match-day {
  color: #A0A0A0;
  font-size: 12pt;
}

.match-session {
  color: #48AA48;
  font-size: 12pt;
}

body {
  font-family: Poppins !important;
}

p {
  font-size: 14px !important;
}

.card {
  border-radius: 10px;
  margin-bottom: 20px;
}
.padding-10 {
  padding: 10px;
}

b {
  font-weight: 900 !important;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.form-check-container {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 10px;
}

@media(max-width: 760px) {
  .form-check-container {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 40px;
  }
}

@media(max-width: 760px) {
  .display-hr {
    visibility:visible;
  }
}

@media(min-width: 760px) {
  .display-hr {
    visibility: hidden;
  }
}